body{
    background: url("r.png");
    background-size: 10%;
    background-position: center;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.card{
    width: 225px;
    min-height: 225px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    position: relative;
    transition: 0.2s;
    color: #ffff;
}
.card_img{
    width: 225px;
    min-height: 225px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    position: relative;
    transition: 0.2.s;
}
.card:hover{
    box-shadow: 4px 8px 16px rgba(158, 34, 29, 0.185);
}

.card_top{
    flex: 0 0 220px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-bottom:1px solid #b6b6b6;
}

.card_img{
    position: absolute;
    top:0; 
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.card_img > img{
    width: 100%;
    height: 100%;
    transition: 0.2s;
    object-fit: contain;
}

.card_img:hover > img{
    transform: scale(1.1);
}

.card_label{
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 4px 8px;
    background-color: #ff6633;
    border-radius: 4px;
    color: white;
    font-weight: 520;
    font-size: 16px;
    font-family: 'Arial';

}

.card_bottom{
    flex: 1 0 auto;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.card_prices{
    display: flex;
    margin-bottom: 10px;
}


.card_price{
    width: 50%;
}

.card_price::after{
    content: "\20B4";
    margin-left: 4px;
}

.card_price--discount{
    font-weight: 700;
    font-size: 20px;
    color:#414141;
    display: flex;
    flex-wrap: wrap-reverse;
    font-family: 'Arial';
    font-style: italic;
}

.card_price--discount::before{
    content: "Зі знижкою";
    font-weight: 400px;
    font-size: 13px;
    color:#bfbfbf; 
    font-family: 'Arial';
}

.card_price--common{
    font-weight: 600px;
    font-size: 18px;
    color: #606060;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    font-family: 'Arial';
}

.card_price--common::before{
    content: "Звичайна ціна";
    font-weight: 400;
    font-size: 13px;
    color: #bfbfbf;
    font-family: 'Arial';
}

.card_title{
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size:17px;
    line-height: 1.2;
    color: #414141; 
}

.card_title:hover{
    color: #ff6633 ;
    cursor: pointer;
}



.card_button{
    display: block;
    font-weight: 100%;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color:#70c05b;
    padding: 10px;
    text-align: center;
    border: 1px solid #70c05b;
    border-radius: 4px;
    flex-wrap: wrap;
    bottom: 0px;
}

.card_button :hover{
    color: #fff;
    background-color: #70c05b;
}

.card_button2{
    display: block;
    position: relative;
    font-weight: 100%;
    width: 100%;
    bottom: 0;
    font-weight: 400;
    font-size: 17px;
    color:#70c05b;
    padding: 10px;
    text-align: center;
    border: 1px solid #70c05b;
    border-radius: 4px;
    flex-wrap: wrap;
    bottom: -20px;
}


.card_button2 :hover{
    color: #ffff;
    background-color: #70c05b;
}



.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container_cards{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 225px);
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    column-gap: 30px;
    row-gap: 40px;
}

.cards{
    padding: 75px 0;
}

h1{
    width:100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0px;
    position:relative;
    text-decoration: none;
    display:grid;
    font-family: "Arial";
    top: -22px;
}

.sales{
    width:100%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0px;
    position:fixed;
    text-decoration: none;
    display:grid;
    font-family: "Arial";
    top: -22px;
}

.shop_name{
    width: 225px;
    height: 25px;
    display: flex;
    flex-direction: column;
    background-color: #501616;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.phone{
    width: 225px;
    height: 30px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    font-style: italic;
    flex-direction: column;
    background-color: #703dc2;
}
